.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.delete {
  color: crimson;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
  color: rgb(25, 43, 25);
}

